@charset "UTF-8";
body{
}
/* CSS Document */

.container{
	width: 1440px;
	font-family: Gotham,'sans-serif';
  font-optical-sizing: auto;
	background-color: #C0AB87;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
line-height: 1.9em;
}
.container footer{
	height: 25px;
	clear: 	both;
	background-color: #840505;
	text-align: center
}

h1{padding-left: 10px;
	padding-right: 10px;
}

.img1{
	padding-left: 10px;
	padding-right: 10px;
	
}

nav {
	margin: 0pc auto;
	max-width:100%;
	width: 100%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color:#115016;
}

.navigation {
	padding: 0;
	margin: 0;
	max-width: 100%;
	height: 50px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
}

.navigation li a {
	color: aliceblue;
	text-decoration: none;
	align-self: center;
	border-radius: 5px;
	font-size: 14px;
	padding: 10px 15px;
	clear: none;
}

.navigation li a:hover {
	color: white;
	text-decoration: none;
	background-color:#5BAD62;
	align-self: center;
	border-radius: 5px;
	font-size: 14px;
	padding: 10px 15px;
}

.container .homepage h1 {
	text-align: center;
	padding-top: 30px;
	line-height: 0px;
}
p{ font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #115016;
	font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
line-height: 1.9em;
	padding-left: 10px;
	padding-right: 10px;
}
	
.container footer h4 {
	color:#840505;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.container footer {
	color: whitesmoke
}